.audio-recorder {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.audio-recorder-button-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.audio-recorder-button {
  color: black;
  padding: 24px;
  width: 80px;
  height: 80px;
  background-color: #6938ef;
  border-radius: 50%;
  z-index: 1;
}
.audio-recorder-button-status {
  padding: 24px;
  width: 80px;
  height: 80px;
  background-color: rgba(246, 137, 130, 0.5);
  border-radius: 50%;
  animation-name: fading-ar-status;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  position: absolute;
}

.audio-recorder-timer {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  display: flex;
  align-items: center;
}

.audio-recorder-options {
  height: 16px;
  cursor: pointer;
  padding: 12px 6px 12px 12px;
}
.audio-recorder-options ~ .audio-recorder-options {
  padding: 12px 12px 12px 6px;
  border-radius: 0 5px 5px 0;
}

.recording .audio-recorder-button-status {
  transition: all 0.2s ease-out;
  width: 70px;
  height: 70px;
}
.recording .audio-recorder-button {
  background-color: #f04438;
}

.display-none {
  display: none;
}

@keyframes fading-ar-status {
  0% {
    opacity: 1;
    width: 90px;
    height: 90px;
  }
  50% {
    opacity: 1;
    width: 80px;
    height: 80px;
  }
  100% {
    opacity: 1;
    width: 90px;
    height: 90px;
  }
}

.audio-recorder-timer-dot {
  width: 8px;
  height: 8px;
  background-color: #f04438;
  border-radius: 50%;
  margin-right: 4px;
}
